@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Mulish&display=swap');

.label-popular {
    background-color: #F6C768;
    padding: 0.2rem 0.8rem;
    font-size: 0.625rem;
    border-radius: 20px;
}